body {
  font-family: Ariel;
  background-color: #b4e1ff;
}

#main {
  padding: 20px;
}

#instructions {
  background-color: #dbf1ff;
  padding: 20px;
}

#form {
  background-color: #dbf1ff;
  padding: 20px;
}

.qDiv {
  margin: 10px;
  padding: 20px;
  background-color: #f5ffc7;
  transition: 0.2s;
}

.qDiv:hover {
  transform: scale(1.05);
  background-color: #f7f378;
}

#boyDiv {
  background-color: #dbf1ff;
  padding: 10px;
}

#girlDiv {
  background-color: #dbf1ff;
  padding: 10px;
}

th {
  text-align: left;
}
